@use "../../assets//scss/style.scss" as *;

nav {
  .menuItem {
    color: $main-color;

    &:hover,
    &:focus {
      background-color: $main-color;
      color: white;
      border-radius: 20px;
    }
  }

  .actived {
    background-color: $main-color;
    color: white;
    border-radius: 20px;
  }
}
