@use "../../assets//scss/style.scss" as *;

nav {
  background-color: $main-color;

  .menuItem {
    &:hover {
      background-color: $actived-color;
    }
  }
  
  .actived {
    background-color: $actived-color;
  }
}
