.acreage-result {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-acreage {
  width: 100%;
}

.acreage-range {
  margin-top: -15px;

  &-col {
    margin-bottom: 10px;
  }

  &-item,
  &-item-all {
    font-size: 0.8rem !important;
    width: 100%;
    text-align: center;
  }
}
