button {
  border: none !important;
  outline: none !important;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mt--5 {
  margin-top: -5px;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    width: 50%;
  }
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    opacity: 0.5;
    margin-right: 5px;
    width: 14px;
    height: 14px;
  }

  &__text {
    text-decoration: none;
    color: black;

    &:hover {
      color: blue;
    }
  }
  
}

.page-link {
  padding: 0.5rem 1.25rem !important;
}
