.post {
  background-color: #f5f5f5;
  &__images {
    height: 314px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .post-img {
      display: block;
      height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }

  &__overview {
    &-title {
      color: red;
      // font-weight: bold;
    }

    .cash-icon {
      height: 20px;
      width: 20px;
      transform: translateY(5%);
    }

    .area-icon, .clock-icon {
      height: 20px;
      width: 20px;
      margin-right: 4px;
    }

    .heart-icon {
      height: 20px;
      width: 20px;
      margin-right: 4px;
      cursor: pointer;
    }

    .price {
      font-size: 1.3rem;
      font-weight: bold;
      color: #198754;
    }

    .post--save {
      cursor: pointer;
    }

    .saved {
      color: red;
    }
  }
  
  &__overview, &__description, &__contact {
    padding: 0 20px;
    margin-bottom: 10px;
  }

  .carousel, .carousel-inner, .carousel-item {
    height: 100%;
  }
}

.contact-info {
  height: 314px;
  background-color: #febb02;
  border-radius: 5px;
  text-align: center;
  padding: 15px;

  .avatar {
    height: 80px;
    width: 80px;
    margin: 0 auto 10px;

    &-img {
      height: 100%;
      width: 100%;
    }
  }

  .phone {
    margin-top: 40px;
    width: 100%;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      height: 20px;
      width: 20px;
    }

    &-number {
      margin-left: 7px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .zalo {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      height: 30px;
      width: 30px;
    }

    &-text {
      margin-left: 7px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.post-action {
  min-width: 150px;
}