@use "../../assets/scss/style.scss" as *;

.main-home-btn__post {
  background-color: $actived-color !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  border: none !important;
  outline: none !important;

  &:hover {
    background-color: #f20a32 !important;
  }

  &:active {
    background-color: $actived-color !important;
  }
}

.posts-with-videos {
  margin-top: 1rem;
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}
