@use "../../assets/scss/style.scss" as *;

.search-bar {
  min-height: 60px;
  margin: 10px 0px;
  border-radius: 5px;
  // background-color: #80c4b3;
  background-color: $main-color;

  &-top {
    height: 100%;
    padding: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  &-item {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 45px;
    position: relative;
    margin-right: 5px;
    cursor: pointer;

    @include large {
      margin-bottom: 5px;
    }
  }

  .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 0px;
    flex: 1;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #febb02;
    color: black;
    border: none;
    outline: none;

    &:hover,
    &:active {
      background-color: #fec834 !important;
    }
  }
}

.icon-type,
.icon-location,
.address-default,
.icon-price,
.price-default,
.icon-area,
.area-default,
.type-default {
  opacity: 0.5;
}

.item-type,
.item-address,
.item-price,
.item-area,
.address-default,
.price-default,
.area-default,
.type-default {
  margin-left: 3px;
  font-weight: 600;
}
