.homeTop {
  height: 400px;
  background-image: url("../../assets/images/slider-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .slogan {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .search {
    margin-top: 30px;
  }
}