@use "../../assets/scss/style.scss" as *;

$black: #000 !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.05);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
$font-family-sans-serif: "Montserrat", sans-serif;

.admin-dashboard {
  font-family: $font-family-sans-serif;
  margin-top: calc(-#{$header-height} - 1rem);
}

.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
  // max-width: 1300px;
  margin: 0 auto;
  background-color: #f2f7f8;
}
.card {
  box-shadow: $box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
table th {
  font-weight: 500;
}
