@use "../../assets//scss/style.scss" as *;

.header {
  padding: 5px 0px;

  .btn__login,
  .btn__logout,
  .btn__signup,
  .my-posts,
  .my-savedPosts,
  .my-profile {
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }

  .btn__post button {
    background-color: $actived-color;
    font-weight: 600;
    border: none;
    outline: none;
    
    &:hover {
      background-color: #f20a32;
    }

    &:active {
      background-color: $actived-color;
    }
  }

  .my-item {
    background-color: #fff !important;
  }
}
